[Unit]
After=rc-local.service
[Service]
Type=simple
ExecStart=/backend/backend -config /backend/backend.yml
Restart=always
LimitNOFILE=51200
#调整服务CPU IO的优先级，数字越低优先级越高(可能，尚未摸清)，默认值是100
CPUWeight=100
IOWeight=100
#每10秒尝试重启服务
StartLimitBurst=0
RestartSec=10
[Install]
WantedBy=multi-user.target
